<template name="navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="#!" class="brand-logo center waves-effect waves-light"><i class="material-icons left">speaker_notes</i>BLIPPER</a>
        {{#if currentUser}}
          <ul class="left">
            <li><a class="waves-effect waves-light" href="../profile">{{email}}</a></li>
          </ul>
        {{/if}}
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light" href="/">Home</a></li>
          <li><a class="waves-effect waves-light" href="#!">About</a></li>
          <li><a class="waves-effect waves-light" href="{{pathFor 'posts'}}">Posts</a></li>
          {{#if currentUser}}
            <li><a class="waves-effect waves-light" href="../profile">Edit Profile</a></li>
            <li><a class="waves-effect waves-light" id="logout" href="/">Sign Out</a></li>
          {{else}}
            <li><a class="waves-effect waves-light" href="/sign-in">Sign In</a></li>
            <li><a class="waves-effect waves-light" href="/sign-up">Register</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a class="waves-effect" href="#!">Home</a></li>
          <li><a class="waves-effect" href="#!">About</a></li>
          <li><a class="waves-effect" href="#!">Posts</a></li>
          <li><a class="waves-effect" href="#!">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>
