<template name="navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="#!" class="brand-logo center waves-effect waves-red">BLIPPER</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-red" href="/">Home</a></li>
          <li><a class="waves-effect waves-red" href="#!">About</a></li>
          <li><a class="waves-effect waves-red" href="{{pathFor 'posts'}}">Posts</a></li>
          <li><a class="waves-effect waves-red" href="/sign-in">Sign In</a></li>
          <li><a class="waves-effect waves-red" href="/sign-up">Register</a></li>
          <li><a class="waves-effect waves-red" href="profile">Edit Profile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#!">Home</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Posts</a></li>
          <li><a href="#!">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>
