body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .copyright {
    padding-top: 8px;
  }

.container {
  margin-top: 60px;
}

img {
  width: 100%;
}

.post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: #ccc solid 1px;
}

.btn:hover, .btn-large:hover {
    background-color: #607d8b;
}

.btn, .btn-large {
  background-color: #263238;
}

.at-title {
  text-align: center;
}

.at-signin-link p {
  text-align: center;
}

.at-signup-link p {
  text-align: center;
}

.post-image {
  margin-top: 10px;
}

.profile-image {
  width: 100%;
}
