<template name="posts">
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">BLIP Something!</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>BLIP what's on your mind...</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
<br />
<br />
<hr>

<div class="row post z-depth-2">
  <div class="col s1">
    <img src="img/blank-avatar.png" />
  </div>

  <div class="col s11">
    <small>Posted By Mike at 6:45 PM on 1/18/2016</small>
    <blockquote>
      This is the user's post
    </blockquote>
  </div>
</div>

<div class="row post z-depth-2">
  <div class="col s1">
    <img src="img/blank-avatar.png" />
  </div>

  <div class="col s11">
    <small>Posted By Mike at 6:45 PM on 1/18/2016</small>
    <blockquote>
      This is the user's post
    </blockquote>
  </div>
</div>

<div class="row post z-depth-2">
  <div class="col s1">
    <img src="img/blank-avatar.png" />
  </div>

  <div class="col s11">
    <small>Posted By Mike at 6:45 PM on 1/18/2016</small>
    <blockquote>
      This is the user's post
    </blockquote>
  </div>
</div>

<div class="row post z-depth-2">
  <div class="col s1">
    <img src="img/blank-avatar.png" />
  </div>

  <div class="col s11">
    <small>Posted By Mike at 6:45 PM on 1/18/2016</small>
    <blockquote>
      This is the user's post
    </blockquote>
  </div>
</div>

<div class="row post z-depth-2">
  <div class="col s1">
    <img src="img/blank-avatar.png" />
  </div>

  <div class="col s11">
    <small>Posted By Mike at 6:45 PM on 1/18/2016</small>
    <blockquote>
      This is the user's post
    </blockquote>
  </div>
</div>
</template>
