<template name="posts">
  {{#if currentUser}}
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">BLIP Something!</a>
  {{/if}}
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>BLIP what's on your mind...</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
<br />
<br />
<hr>

{{#each posts}}
<div class="row post z-depth-2">
  <div class="col s1">
    <img class="post-image" src="{{getProfileImg userId}}" />
  </div>

  <div class="col s11">
    <small>Posted By {{name}} at {{createdAt}}</small>
    <blockquote>
      {{body}}
    </blockquote>
  </div>
</div>
{{else}}
  <p>
    No Posts Yet
  </p>
{{/each}}
</template>
